<%- include("../includes/Start.ejs")%>
<body>
  <%- include("../includes/Navbar.ejs") %>
  <main class="LogInAndSignUp">
    <div class="LogInAndSignUp-ShopIconContainer Margin-Top__Large">
      <svg class="LogInAndSignUp-ShopIconContainer__Icon">
        <use href="assets/SVG/shopify.svg#icon-shopify"></use>
      </svg>
    </div>
    <form
      action="/login"
      class="LogInAndSignUp-Form Margin-Top__ExtraLarge"
      method="POST"
    >
      <div class="LogInAndSignUp-Form__HeaderContainer">
        <svg class="LogInAndSignUp-Form__Icons">
          <use href="assets/SVG/lock.svg#icon-lock-closed"></use>
        </svg>
        <h1 class="Primary-Heading Centered">LogIn</h1>
      </div>
      <% if(flashErrors.length > 0 ) { %>
      <p class="LogInAndSignUp-Form__Errormessage">
        <%= flashErrors[0] %>
      </p>
      <% } %>
      <input
        type="email"
        class="Input LogInAndSignUp-Form__Input Margin-Top__Small"
        placeholder="Enter email"
        tabindex="1"
        name="email"
        value="<%= oldInput.email %>"
        required
      />
      <% if(errors.emailIsNotValid) { %>
      <p class="LogInAndSignUp-Form__Errormessage">
        <%= errors.emailIsNotValid %>
      </p>
      <% } %>
      <div class="LogInAndSignUp-Form__PasswordContainer">
        <input
          type="password"
          name="password"
          class="Input LogInAndSignUp-Form__Input LogInAndSignUp-Form__Input_PasswordField"
          placeholder="Enter password"
          tabindex="2"
          required
        />
        <svg
          class="LogInAndSignUp-Form__Icons LogInAndSignUp-Form__Icons_ShowHide"
        >
          <use href="assets/SVG/password-show-hide.svg#icon-view-hide"></use>
        </svg>
      </div>
      <% if(errors.passwordIsNotValid) { %>
      <p class="LogInAndSignUp-Form__Errormessage">
        <%= errors.passwordIsNotValid %>
      </p>
      <% } %>
      <a href="/reset-password" class="LogInAndSignUp-Form__Link"
        >Forgot password?</a
      >
      <button type="submit" class="Button LogInAndSignUp-Form__Button">
        LogIn
      </button>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    </form>
    <h2 class="Tertiary-Heading  Margin-Top__Small">
      Don't have an account?
      <a href="/signup" class="LogInAndSignUp-Form__Link"
        >Create account here.</a
      >
    </h2>
  </main>
</body>
