<%- include("../includes/Start.ejs") %>

<body>
  <%- include("../includes/Navbar.ejs") %>
  <main class="LogInAndSignUp">
    <form
      action="/new-password"
      class="LogInAndSignUp-Form Margin-Top__ExtraLarge"
      method="POST"
    >
      <div class="LogInAndSignUp-Form__HeaderContainer">
        <h1 class="Primary-Heading Centered">Update Password!</h1>
      </div>
      <% if(errorMessage.length > 0 ) { %>
      <p class="LogInAndSignUp-Form__Errormessage">
        <%= errorMessage %>
      </p>
      <% } %>
      <input
        type="password"
        name="password"
        class="Input LogInAndSignUp-Form__Input"
        placeholder="Enter password"
        tabindex="2"
        required
      />
      <input
        type="password"
        name="confirmPassword"
        class="Input LogInAndSignUp-Form__Input"
        placeholder="Confirm password"
        tabindex="2"
        required
      />
      <button type="submit" class="Button LogInAndSignUp-Form__Button">
        Update Password
      </button>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <input type="hidden" name="userId" value="<%= userId %>" />
      <input type="hidden" name="token" value="<%= token %>" />
    </form>
  </main>
</body>
