<%- include("../includes/Start.ejs")%>

<body>
  <%- include("../includes/Navbar.ejs") %>
  <main class="LogInAndSignUp">
    <form
      action="/reset-password"
      class="LogInAndSignUp-Form Margin-Top__ExtraLarge"
      method="POST"
    >
      <div class="LogInAndSignUp-Form__HeaderContainer">
        <h1 class="Primary-Heading Centered">Reset Password!</h1>
      </div>
      <% if(errorMessage.length > 0 ) { %>
      <p class="LogInAndSignUp-Form__Errormessage">
        <%= errorMessage %>
      </p>
      <% } %>
      <input
        type="email"
        class="Input LogInAndSignUp-Form__Input Margin-Top__Small"
        placeholder="Enter email"
        tabindex="1"
        name="email"
        required
      />
      <button
        type="submit"
        class="Button LogInAndSignUp-Form__Button"
        tabindex="2"
      >
        Reset Password
      </button>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    </form>
  </main>
</body>
