<%- include("../includes/Start.ejs")%>

<body>
  <%- include("../includes/Navbar.ejs") %>
  <main class="LogInAndSignUp">
    <div class="LogInAndSignUp-ShopIconContainer Margin-Top__Large">
      <svg class="LogInAndSignUp-ShopIconContainer__Icon">
        <use href="assets/SVG/shopify.svg#icon-shopify"></use>
      </svg>
    </div>
    <form
      action="/signup"
      class="LogInAndSignUp-Form Margin-Top__Medium"
      method="POST"
    >
      <div class="LogInAndSignUp-Form__HeaderContainer">
        <svg class="LogInAndSignUp-Form__Icons">
          <use href="assets/SVG/sign-up-key.svg#icon-sign-up-key"></use>
        </svg>
        <h1 class="Primary-Heading Centered">Create an Account!</h1>
      </div>
      <% if(flashErrors.length > 0 ) { %>
      <p class="LogInAndSignUp-Form__Errormessage">
        <%= flashErrors[0] %>
      </p>
      <% } %>
      <input
        type="text"
        class="Input LogInAndSignUp-Form__Input Margin-Top__Small"
        placeholder="Enter user name"
        tabindex="1"
        name="userName"
        value="<%= oldInput.userName %>"
        required
      />
      <% if(errors.userNameIsNotValid) { %>
      <p class="LogInAndSignUp-Form__Errormessage">
        <%= errors.userNameIsNotValid %>
      </p>
      <% } %>
      <input
        type="text"
        class="Input LogInAndSignUp-Form__Input"
        placeholder="Enter mobile number"
        tabindex="2"
        name="mobileNumber"
        ,
        value="<%= oldInput.mobileNumber %>"
        required
      />
      <% if(errors.mobileNumberIsNotValid) { %>
      <p class="LogInAndSignUp-Form__Errormessage">
        <%= errors.mobileNumberIsNotValid %>
      </p>
      <% } %>
      <input
        type="email"
        class="Input LogInAndSignUp-Form__Input"
        placeholder="Enter email"
        tabindex="3"
        name="email"
        value="<%= oldInput.email %>"
        required
      />
      <% if(errors.emailIsNotValid) { %>
      <p class="LogInAndSignUp-Form__Errormessage">
        <%= errors.emailIsNotValid %>
      </p>
      <% } %>

      <div class="LogInAndSignUp-Form__PasswordContainer">
        <input
          type="password"
          name="password"
          class="Input LogInAndSignUp-Form__Input LogInAndSignUp-Form__Input_PasswordField"
          placeholder="Enter password"
          tabindex="4"
          required
        />
        <svg
          class="LogInAndSignUp-Form__Icons LogInAndSignUp-Form__Icons_ShowHide"
        >
          <use href="assets/SVG/password-show-hide.svg#icon-view-hide"></use>
        </svg>
      </div>
      <% if(errors.passwordIsNotValid) { %>
      <p class="LogInAndSignUp-Form__Errormessage">
        <%= errors.passwordIsNotValid %>
      </p>
      <% } %>
      <div class="LogInAndSignUp-Form__PasswordContainer">
        <input
          type="password"
          name="confirmPassword"
          class="Input LogInAndSignUp-Form__Input LogInAndSignUp-Form__Input_PasswordField"
          placeholder="Enter password"
          tabindex="5"
          required
        />
        <svg
          class="LogInAndSignUp-Form__Icons LogInAndSignUp-Form__Icons_ShowHide"
        >
          <use href="assets/SVG/password-show-hide.svg#icon-view-hide"></use>
        </svg>
      </div>
      <% if(errors.passwordsAreNotMatch) { %>
      <p class="LogInAndSignUp-Form__Errormessage">
        <%= errors.passwordsAreNotMatch %>
      </p>
      <% } %>

      <button type="submit" class="Button LogInAndSignUp-Form__Button">
        SignUp
      </button>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    </form>
  </main>
</body>
