// FONT VARIALBLES...
$default-font: 1.6rem;

// RESPONSIVE BREAKPOINTS...
$bp-largest: 75em; //1200px..
$bp-large: 56.25em; //900px..
$bp-medium: 37.5em; //600px...
$bp-small: 25em; //600px...

// COLORS
$light-grey-large: #e8e9e9;
$dark-grey-medium: #615d5d;
// Global styling...

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: $bp-large) {
    font-size: 56.25%; //  9/16=0.5625....
  }
  @media only screen and (max-width: $bp-medium) {
    font-size: 50%; //  8/16=0.50....
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 43.75%; //  7/16=37.5%....
  }
}
::selection {
  background-color: #ff1ebb;
  color: #fff;
}
body {
  box-sizing: border-box;
  color: #423f3f;
  font-family: "Times New Roman", Times, serif;
}
.MainContainer {
  background-image: linear-gradient(90deg, #ffcccc, #ffccff, #ffcc99);
  padding: 1rem;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.Actions {
  grid-template-columns: repeat(1, 1fr) !important;
}
