<%- include("../includes/Start.ejs")%>
  <body>
    <%- include("../includes/Navbar.ejs") %>
    <main class = "MainContainer">
      <% if(products.length > 0) { %>
        <div class="ProductCardContainer Margin-Top__Large">
          <div class="ProductCard Margin-Top__Large">
            <% for(let product of products) { %>
              <article class="ProductCard-Item">
                <header class="ProductCard-Item__Header">
                  <h1 class="Secondary-Heading">
                    <%= product.title %>
                  </h1>
                </header>
                
                <div class="ProductCard-Item__ImageContainer">
                  <img src="../<%= product.imageUrl %>" alt="A Book" class="ProductCard-Item__ImageContainer_Image">
                </div>
                <div class="ProductCard-Item__Price">$<%= product.price %></div>
                <div class="ProductCard-Item__Description">
                    <%= product.description %>
                </div>
                <div class="ProductCard-Item__Actions">
                  <a href="/admin/edit-product/<%= product._id %>?edit=true" class="Button ProductCard-Item__Actions_Button">Edit Product</a>
                  <button class="Button ProductCard-Item__Actions_Button" onclick="deleteProduct(this)">Delete</button>
                  <input type="hidden" name="productId" value="<%= product._id %>">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </div>
              </article>
            <% } %>
          </div>
        </div>
      <% } else { %>
        <h1 class="Primary__Heading Margin-Top__ExtraLarge">No Products are Added!</h1>
      <% } %>
    </main>
    <script src="../../js/Admin.js"></script>
  </body>
</html>