<%- include("../includes/Start.ejs")%>
  <body>
    <%- include("../includes/Navbar.ejs") %>
    <main class="MainContainer">
      <section class="AddProduct">
        <h1 class="Primary-Heading Margin-Top__ExtraLarge">
          <% if (editing) { %> Edit Product Details... 
          <% } else { %>  
            Product Details Form...
          <% } %>
        </h1>
        <form 
          action="/admin/<% if(editing) { %>edit-product<% } else { %>add-product <% } %>" method="POST" class="AddProduct-Form Margin-Top__Medium" enctype="multipart/form-data"
        >
          
          <input 
            type="text" 
            name="title" 
            class="Input" 
            placeholder="Enter Title"  
            value="<% if(editing) { %><%= product.title %><% } %>" 
            required
          >
          <label for="imageUrl" class="AddProduct-Form__Label">Choose image for product &rArr;
          </label>
          <input 
            type="file" 
            name="imageUrl" 
            class="AddProduct-Form__FileInput"
            placeholder="ImageURL"  
            <% if(!editing) { %>
            required
            <% } %>
          >
          <input 
            type="number"
            step="0.01"
            name="price"
            class="Input"
            placeholder="Enter Price(In Dollars Only)" 
            value= "<% if(editing) { %><%= product.price %><% } %>" 
            required
          >
          <textarea
            rows="5"
            cols="5" 
            name="description" 
            placeholder="Enter Description about product"
            class="Input"
            required><% if(editing) { %><%= product.description %><% } %></textarea>
          <button 
            type="submit" 
            class="Button AddProduct-Form__Button"
          >
            <% if(editing) { %>Edit Product <% } else { %> Add Product <% } %> 
          </button>
          <% if(editing) { %>
            <input type="hidden" name="productId" value = <%= product._id %> > 
          <% } %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
      </section>
    </main>
  </body>
</html>