.MainHeader {
  background-image: linear-gradient(to right bottom, #6b8e23, #008b8b, #556b2f);
  font-size: 1.8rem;
  width: 100%;
  height: 6rem;
  position: fixed;
  z-index: 100;

  &-Nav {
    height: 100%;
    display: flex;
    justify-content: space-between;

    &__SideDrawerToggle {
      display: flex;
      width: 4rem;
      height: 100%;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      box-sizing: border-box;
      padding: 1rem 0;
      margin-left: 1rem;
      cursor: pointer;

      & div {
        height: 0.5rem;
        width: 100%;
        background-color: #fff;
      }

      @media only screen and (min-width: 37.5em) {
        & {
          display: none;
        }
      }
    }

    &__List {
      list-style: none;
      height: 100%;
      display: grid;
      padding: 0rem 1.5rem;
      align-items: center;
      grid-gap: 3rem;
      grid-template-columns: repeat(7, max-content);

      &_AuthContainer {
        grid-template-columns: 1fr 1fr 1fr;
      }

      &_Item {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-gap: 0.5rem;
        border: none;
        cursor: pointer;
        &:hover &-NavIcons {
          fill: #ffff00;
        }
        &:hover a,
        &:hover button {
          color: #ffff00;
        }

        &-LogOut {
          grid-column: 3/-1;
        }
        &-LogIn {
          grid-column: 2/3;
        }
        &-SignUp {
          grid-column: 3/-1;
        }
        &-NavIcons {
          width: 1.8rem;
          height: 1.8rem;
          fill: #fff;
        }

        & a {
          color: #fff;
          text-decoration: none;
        }

        & a:active,
        & a.Active {
          color: #ffff00;
        }

        & svg.ActiveFill {
          fill: #ffff00;
        }

        & button {
          border: none;
          background: transparent;
          outline: none;
          font-size: $default-font;
          color: #fff;
          cursor: pointer;
        }
      }

      @media only screen and (max-width: 37.5em) {
        & {
          display: none;
        }
      }
    }
  }
}
