<form action="/cart" method="POST">
  <button class="Button ProductCard-Item__Actions_Button" type="submit">
    Add to Card
  </button>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <input type="hidden" name="productId" value="<%= product._id %>" />
</form>
