<header class="MainHeader">
  <nav class="MainHeader-Nav">
    <div class="MainHeader-Nav__SideDrawerToggle">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <ul class="MainHeader-Nav__List">
      <li class="MainHeader-Nav__List_Item">
        <a class="<%= path === '/' ? 'Active' : '' %>" href="/">
          <svg
            class="MainHeader-Nav__List_Item-NavIcons <%= path === '/' ? 'ActiveFill' : '' %>"
          >
            <use href="../../assets/SVG/shopify.svg#icon-shopify"></use>
          </svg>
          Shop
        </a>
      </li>

      <li class="MainHeader-Nav__List_Item">
        <a class="<%= path === '/products'?'Active':''%>" href="/products">
          <svg
            class="MainHeader-Nav__List_Item-NavIcons <%= path === '/products'?'ActiveFill':''%>"
          >
            <use
              href="../../assets/SVG/cart-arrow-down.svg#icon-cart-arrow-down"
            ></use>
          </svg>
          Products
        </a>
      </li>
      <% if(isAuthenticated) { %>
      <li class="MainHeader-Nav__List_Item">
        <a class="<%= path === '/cart' ? 'Active' : '' %>" href="/cart">
          <svg
            class="MainHeader-Nav__List_Item-NavIcons <%= path === '/cart' ? 'ActiveFill' : '' %>"
          >
            <use
              href="../../assets/SVG/shopping-cart.svg#icon-shopping-cart"
            ></use>
          </svg>
          Cart
        </a>
      </li>
      <li class="MainHeader-Nav__List_Item">
        <a class="<%= path === '/orders' ?'Active':'' %>" href="/orders">
          <svg
            class="MainHeader-Nav__List_Item-NavIcons <%= path === '/orders' ?'ActiveFill':'' %>"
          >
            <use href="../../assets/SVG/clipboard.svg#icon-clipboard"></use>
          </svg>
          Orders
        </a>
      </li>
      <li class="MainHeader-Nav__List_Item">
        <a
          class="<%= path === '/admin/add-product' ? 'Active' : ''%>"
          href="/admin/add-product"
        >
          <svg
            class="MainHeader-Nav__List_Item-NavIcons <%= path === '/admin/add-product' ? 'ActiveFill' : ''%>"
          >
            <use
              href="../../assets/SVG/add_shopping_cart.svg#icon-add_shopping_cart"
            ></use>
          </svg>
          Add Product
        </a>
      </li>
      <li class="MainHeader-Nav__List_Item">
        <svg
          class="MainHeader-Nav__List_Item-NavIcons <%= path === '/admin/products' ? 'ActiveFill' : ''%>"
        >
          <use href="../../assets/SVG/admin.svg#icon-admin"></use>
        </svg>
        <a
          class="<%= path === '/admin/products' ? 'Active' : ''%>"
          href="/admin/products"
        >
          Admin Products
        </a>
      </li>
      <% } %>
    </ul>
    <ul class="MainHeader-Nav__List  MainHeader-Nav__List_AuthContainer">
      <% if(!isAuthenticated) { %>
      <li class="MainHeader-Nav__List_Item MainHeader-Nav__List_Item-LogIn">
        <a class="<%= path === '/login' ? 'Active' : ''%>" href="/login">
          <svg
            class="MainHeader-Nav__List_Item-NavIcons  <%= path === '/login' ? 'ActiveFill' : '' %>"
          >
            <use href="../../assets/SVG/lock.svg#icon-lock-closed"></use>
          </svg>
          LogIn
        </a>
      </li>
      <li class="MainHeader-Nav__List_Item MainHeader-Nav__List_Item-SignUp">
        <a class="<%= path === '/signup' ? 'Active' : ''%>" href="/signup">
          <svg
            class="MainHeader-Nav__List_Item-NavIcons <%= path === '/signup' ? 'ActiveFill' : ''%>"
          >
            <use href="../../assets/SVG/sign-up-key.svg#icon-sign-up-key"></use>
          </svg>
          SignUp
        </a>
      </li>
      <% } %> <% if(isAuthenticated) { %>
      <li class="MainHeader-Nav__List_Item MainHeader-Nav__List_Item-LogOut">
        <form action="/logout" method="POST">
          <svg class="MainHeader-Nav__List_Item-NavIcons">
            <use href="../../assets/SVG/unlocked.svg#icon-unlocked"></use>
          </svg>
          <button type="submit">LogOut</button>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
