<section class="Pagination Margin-Top__Medium">
  <% if(isFirstPage) { %>
  <a href="?page=<%= page + 1 %>" class="Pagination__Link">
    <span>page <%= page + 1 %></span>
    <svg class="Pagination__Icons">
      <use
        href="../assets/SVG/next-previous.svg#icon-chevron-circle-right"
      ></use>
    </svg>
  </a>
  <% } %> <% if(!isFirstPage && !isLastPage) { %>
  <a href="?page=<%= page - 1 %>" class="Pagination__Link">
    <svg class="Pagination__Icons">
      <use
        href="../assets/SVG/next-previous.svg#icon-chevron-circle-left"
      ></use>
    </svg>
    <span>page <%= page - 1 %></span>
  </a>
  <a href="?page=<%= page + 1 %>" class="Pagination__Link">
    <span>page <%= page + 1 %></span>
    <svg class="Pagination__Icons">
      <use
        href="../assets/SVG/next-previous.svg#icon-chevron-circle-right"
      ></use>
    </svg>
  </a>
  <% } %> <% if(isLastPage && hasPreviousPage) { %>
  <a href="?page=<%= page - 1 %>" class="Pagination__Link">
    <svg class="Pagination__Icons">
      <use
        href="../assets/SVG/next-previous.svg#icon-chevron-circle-left"
      ></use>
    </svg>
    <span>page <%= page - 1 %></span>
  </a>
  <% } %>
</section>
