<%- include("./includes/Start.ejs") %>

  <body>
    <%- include("./includes/Navbar.ejs") %>
    <div class="ErrorContainer">
      <h1 class="Secondary-Heading Margin-Top__ExtraLarge"><%= error %></h1>
      <h3 class="Tertiary-Heading Margin-Top__Medium">We are working on fixing this issue,sorry for inconvinience!</h3>
    </div>
  </body>
</html>