*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 43.75%; } }

::selection {
  background-color: #ff1ebb;
  color: #fff; }

body {
  box-sizing: border-box;
  color: #423f3f;
  font-family: "Times New Roman", Times, serif; }

.MainContainer {
  background-image: linear-gradient(90deg, #ffcccc, #ffccff, #ffcc99);
  padding: 1rem;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth; }

.Actions {
  grid-template-columns: repeat(1, 1fr) !important; }

.MainHeader {
  background-image: linear-gradient(to right bottom, #6b8e23, #008b8b, #556b2f);
  font-size: 1.8rem;
  width: 100%;
  height: 6rem;
  position: fixed;
  z-index: 100; }
  .MainHeader-Nav {
    height: 100%;
    display: flex;
    justify-content: space-between; }
    .MainHeader-Nav__SideDrawerToggle {
      display: flex;
      width: 4rem;
      height: 100%;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      box-sizing: border-box;
      padding: 1rem 0;
      margin-left: 1rem;
      cursor: pointer; }
      .MainHeader-Nav__SideDrawerToggle div {
        height: 0.5rem;
        width: 100%;
        background-color: #fff; }
      @media only screen and (min-width: 37.5em) {
        .MainHeader-Nav__SideDrawerToggle {
          display: none; } }
    .MainHeader-Nav__List {
      list-style: none;
      height: 100%;
      display: grid;
      padding: 0rem 1.5rem;
      align-items: center;
      grid-gap: 3rem;
      grid-template-columns: repeat(7, max-content); }
      .MainHeader-Nav__List_AuthContainer {
        grid-template-columns: 1fr 1fr 1fr; }
      .MainHeader-Nav__List_Item {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-gap: 0.5rem;
        border: none;
        cursor: pointer; }
        .MainHeader-Nav__List_Item:hover .MainHeader-Nav__List_Item-NavIcons {
          fill: #ffff00; }
        .MainHeader-Nav__List_Item:hover a,
        .MainHeader-Nav__List_Item:hover button {
          color: #ffff00; }
        .MainHeader-Nav__List_Item-LogOut {
          grid-column: 3/-1; }
        .MainHeader-Nav__List_Item-LogIn {
          grid-column: 2/3; }
        .MainHeader-Nav__List_Item-SignUp {
          grid-column: 3/-1; }
        .MainHeader-Nav__List_Item-NavIcons {
          width: 1.8rem;
          height: 1.8rem;
          fill: #fff; }
        .MainHeader-Nav__List_Item a {
          color: #fff;
          text-decoration: none; }
        .MainHeader-Nav__List_Item a:active,
        .MainHeader-Nav__List_Item a.Active {
          color: #ffff00; }
        .MainHeader-Nav__List_Item svg.ActiveFill {
          fill: #ffff00; }
        .MainHeader-Nav__List_Item button {
          border: none;
          background: transparent;
          outline: none;
          font-size: 1.6rem;
          color: #fff;
          cursor: pointer; }
      @media only screen and (max-width: 37.5em) {
        .MainHeader-Nav__List {
          display: none; } }

.Button {
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  padding: 1rem 1.5rem;
  border-radius: 5rem;
  background-image: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  background-size: 600%;
  outline: none;
  border: none;
  cursor: pointer;
  animation: anime 8s linear infinite; }
  .Button:hover {
    text-shadow: 1px 1px 2px #fff; }
  .Button:hover {
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5); }
  .Button:active {
    transform: scale(0.97); }

@keyframes anime {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.Primary-Heading {
  font-size: 4rem;
  background-image: linear-gradient(to bottom right, #800000, #dc143c, #660033);
  background-clip: text;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }
  @media only screen and (max-width: 37.5em) {
    .Primary-Heading {
      font-size: 2.5rem; } }

.Secondary-Heading {
  font-size: 2.5rem; }
  @media only screen and (max-width: 37.5em) {
    .Secondary-Heading {
      font-size: 1.8rem; } }

.Tertiary-Heading {
  font-size: 1.8rem; }

.Paragraph {
  font-size: 1.6rem;
  font-weight: 400; }

.Margin-Top__ExtraLarge {
  margin-top: 6rem; }

.Margin-Top__Large {
  margin-top: 4rem; }

.Margin-Top__Medium {
  margin-top: 3rem; }

.Margin-Top__Small {
  margin-top: 2rem; }

.Centered {
  text-align: center; }

.Input {
  padding: 1rem;
  border: none;
  outline: none;
  border-bottom: 0.3rem solid transparent; }
  .Input:focus:invalid {
    border-bottom: 0.3rem solid #ff4500; }
  .Input:focus:valid {
    border-bottom: 0.3rem solid #0db10d; }

.ProductCardContainer {
  display: grid; }
  @media only screen and (max-width: 37.5em) {
    .ProductCardContainer {
      justify-items: center; } }

.ProductCard {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(3, 1fr); }
  @media only screen and (max-width: 56.25em) {
    .ProductCard {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .ProductCard {
      grid-template-columns: repeat(1, 1fr);
      width: 90%; } }
  .ProductCard-Item {
    padding: 2rem;
    display: grid;
    justify-items: center;
    border-radius: 0.5rem;
    position: relative;
    grid-gap: 1.5rem;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to right bottom, #ffe4b5, #ffe4c4); }
    .ProductCard-Item:hover {
      outline: 1rem solid #7ed56f;
      transform: scale(0.99); }
    .ProductCard-Item:hover .ProductCard-Item__Header {
      outline: 0.5rem solid #7ed56f; }
    .ProductCard-Item__Header {
      top: -1.6rem;
      position: absolute;
      width: 80%;
      margin: 0 auto;
      background-image: inherit;
      left: 0;
      right: 0;
      box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3);
      text-align: center; }
    .ProductCard-Item__Price {
      font-size: 2.5rem; }
    .ProductCard-Item__Description {
      font-size: 1.6rem;
      word-break: break-all; }
    .ProductCard-Item__Actions {
      display: grid;
      grid-gap: 0.7rem;
      align-items: center;
      grid-template-columns: repeat(2, 1fr); }
    .ProductCard-Item__Actions_Button {
      text-decoration: none; }
    .ProductCard-Item__ImageContainer {
      height: 100%;
      width: 100%;
      padding: 1rem; }
      .ProductCard-Item__ImageContainer_Image {
        height: 100%;
        width: 100%; }

.AddProduct {
  width: 100%;
  display: grid;
  justify-items: center; }
  .AddProduct-Form {
    display: grid;
    grid-template-rows: min-content max-content min-content;
    width: 50%;
    grid-gap: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .AddProduct-Form {
        width: 70%; } }
    .AddProduct-Form__Button {
      width: 50%;
      justify-self: center; }

.ProductDetails {
  display: grid;
  justify-items: center;
  margin: 3rem 0;
  grid-gap: 2rem; }
  .ProductDetails-Heading {
    text-align: center; }
  .ProductDetails-Image {
    height: 25vh;
    width: 25vw; }
    @media only screen and (max-width: 37.5em) {
      .ProductDetails-Image {
        width: 40vw; } }

.Cart {
  padding: 3rem;
  border-top: 0.3rem solid #5f5f5f;
  border-bottom: 0.3rem solid #5f5f5f; }

.Orders {
  display: grid;
  width: 100%;
  grid-gap: 4rem;
  margin-top: 3rem;
  justify-items: center; }
  .Orders-Order {
    display: grid;
    width: 80%;
    grid-gap: 3rem;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    padding: 2rem;
    position: relative; }
    .Orders-Order__DeleteForm {
      right: 1rem;
      top: 1rem;
      position: absolute; }
      .Orders-Order__DeleteForm button {
        background: transparent;
        outline: none;
        border: none; }
      .Orders-Order__DeleteForm_CloseIcon {
        width: 3rem;
        height: 3rem;
        fill: #ff0000;
        cursor: pointer; }
    .Orders-Order__ItemInformation {
      display: grid;
      letter-spacing: 0.2rem;
      grid-gap: 1rem; }
      .Orders-Order__ItemInformation-Container {
        display: flex;
        grid-gap: 0.6rem; }
      .Orders-Order__ItemInformation-Icons {
        margin-right: 1rem;
        height: 2.2rem;
        width: 2.2rem; }

.LogInAndSignUp {
  padding: 4rem;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  display: grid;
  align-content: center;
  justify-items: center; }
  .LogInAndSignUp-ShopIconContainer__Icon {
    width: 7rem;
    height: 7rem;
    fill: #cc3366; }
  .LogInAndSignUp-Form {
    width: 80%;
    box-shadow: 0rem 0rem 2rem #e8e9e9;
    border: 1px solid #e8e9e9;
    display: grid;
    grid-gap: 2rem;
    justify-items: center; }
    .LogInAndSignUp-Form__Input {
      width: 60%;
      background-color: #e8e9e9; }
      @media only screen and (max-width: 37.5em) {
        .LogInAndSignUp-Form__Input {
          width: 80%; } }
    .LogInAndSignUp-Form__Button {
      width: 30%;
      margin-bottom: 2rem; }
    .LogInAndSignUp-Form__Icons {
      margin-top: 0.7rem;
      width: 3.3rem;
      height: 3.3rem;
      fill: #cc3366; }
      @media only screen and (max-width: 37.5em) {
        .LogInAndSignUp-Form__Icons {
          width: 2rem;
          height: 2rem; } }
    .LogInAndSignUp-Form__HeaderContainer {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      grid-gap: 0.5rem; }
    .LogInAndSignUp-Form__Link {
      text-decoration: none;
      font-size: 1.6rem;
      border-bottom: 1px solid transparent;
      color: #0000ff; }
      .LogInAndSignUp-Form__Link:hover {
        border-bottom: 1px solid #0000ff; }
      .LogInAndSignUp-Form__Link:active {
        color: #0000ff; }

.ErrorContainer {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll; }
