.AddProduct {
  width: 100%;
  display: grid;
  justify-items: center;

  &-Form {
    display: grid;
    grid-template-rows: min-content max-content min-content;
    width: 50%;
    grid-gap: 2rem;

    @media only screen and (max-width: $bp-large) {
      & {
        width: 70%;
      }
    }
    &__Label {
      background-color: #fff;
      font-size: $default-font;
      padding: 1rem;
      color: #858585;
    }
    &__FileInput {
      &:active,
      &:focus {
        border: none;
        outline: none;
      }
      &::-webkit-file-upload-button {
        padding: 1rem;
        cursor: pointer;
        border-radius: 2rem;
        color: #fff;
        border: none;
        outline: none;
        background-image: linear-gradient(
          to right bottom,
          #cc6699,
          #cc3399,
          #cc3366
        );
      }
    }
    &__Button {
      width: 50%;
      justify-self: center;
    }
  }
}
