.LogInAndSignUp {
  padding: 4rem;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;

  &-ShopIconContainer {
    &__Icon {
      width: 7rem;
      height: 7rem;
      fill: #cc3366;
    }
  }

  &-Form {
    width: 80%;
    box-shadow: 0rem 0rem 2rem #e8e9e9;
    border: 1px solid #e8e9e9;
    display: grid;
    grid-gap: 2rem;
    justify-items: center;

    &__Errormessage {
      font-size: $default-font;
      color: #ff0000;
    }
    &__Input {
      width: 70%;
      background-color: $light-grey-large;
      @media only screen and (max-width: 37.5em) {
        & {
          width: 80%;
        }
      }
      &_PasswordField {
        width: 100%;
        background-color: $light-grey-large;
      }
    }
    &__PasswordContainer {
      width: 70%;
      position: relative;
      @media only screen and (max-width: 37.5em) {
        & {
          width: 80%;
        }
      }
    }

    &__Button {
      width: 30%;
      margin-bottom: 2rem;
    }

    &__Icons {
      margin-top: 0.7rem;
      width: 3.3rem;
      height: 3.3rem;
      fill: #cc3366;

      @media only screen and (max-width: 37.5em) {
        & {
          width: 2rem;
          height: 2rem;
        }
      }
      &_ShowHide {
        width: 2.5rem;
        position: absolute;
        top: 0;
        right: 1rem;
        height: 2.5rem;
        fill: #cc3366;
        cursor: pointer;
      }
    }

    &__HeaderContainer {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      grid-gap: 0.5rem;
    }

    &__Link {
      text-decoration: none;
      font-size: $default-font;
      border-bottom: 1px solid transparent;
      color: #0000ff;
      &:hover {
        border-bottom: 1px solid #0000ff;
      }
      &:active {
        color: #0000ff;
      }
    }
  }
}
