.Orders {
  display: grid;
  width: 100%;
  grid-gap: 4rem;
  margin-top: 3rem;
  justify-items: center;
  &-Order {
    display: grid;
    width: 80%;
    grid-gap: 3rem;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    padding: 2rem;
    position: relative;

    &__DeleteButton {
      right: 1rem;
      top: 1rem;
      position: absolute;
      background: transparent;
      outline: none;
      border: none;

      &_CloseIcon {
        width: 3rem;
        height: 3rem;
        fill: #ff0000;
        cursor: pointer;
      }
    }
    &__ItemInformation {
      display: grid;
      letter-spacing: 0.2rem;
      grid-gap: 1rem;
      &-Container {
        display: flex;
        grid-gap: 0.6rem;
      }
      &-Icons {
        margin-right: 1rem;
        height: 2.2rem;
        width: 2.2rem;
      }
    }
  }
}
