.Pagination {
  display: grid;
  grid-gap: 7rem;
  grid-template-columns: max-content max-content;
  justify-content: center;
  font-size: $default-font;
  &__Link {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 1rem;
    align-items: center;
    text-decoration: none;
    color: #800000;
    border: 1px solid #800000;
    padding: 1rem;

    &:hover,
    &:active {
      background-image: linear-gradient(
        to bottom right,
        #800000,
        #dc143c,
        #660033
      );
      color: #fff;
    }
  }
  &__Link:hover &__Icons,
  &__Link:active &__Icons {
    fill: #fff;
  }
  &__Icons {
    width: 2rem;
    height: 2rem;
    fill: #800000;
  }
}
