.ProductDetails {
  display: grid;
  justify-items: center;
  margin: 3rem 0;
  grid-gap: 2rem;

  &-Heading {
    text-align: center;
  }

  &-Image {
    height: 25vh;
    width: 25vw;

    @media only screen and (max-width: $bp-medium) {
      & {
        width: 40vw;
      }
    }
  }
}
