.ProductCardContainer {
  display: grid;
  @media only screen and (max-width: 37.5em) {
    & {
      justify-items: center;
    }
  }
}
.ProductCard {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(3, 1fr);
  @media only screen and (max-width: 56.25em) {
    & {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media only screen and (max-width: 37.5em) {
    & {
      grid-template-columns: repeat(1, 1fr);
      width: 90%;
    }
  }

  &-Item {
    padding: 2rem;
    display: grid;
    justify-items: center;
    border-radius: 0.5rem;
    position: relative;
    grid-gap: 1rem;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to right bottom, #f3eded, #f3eeee);

    @media only screen and (max-width: 60em) {
      & {
        padding: 1rem;
      }
    }
    &:hover {
      outline: 1rem solid #7ed56f;
      transform: scale(0.99);
    }
    &:hover &__Header {
      outline: 0.5rem solid #7ed56f;
    }

    &__Header {
      top: -1.6rem;
      position: absolute;
      width: 80%;
      margin: 0 auto;
      background-image: inherit;
      left: 0;
      right: 0;
      box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3);
      text-align: center;
    }
    &__Price {
      font-size: 2.5rem;
    }

    &__Description {
      font-size: $default-font;
      word-break: break-all;
    }

    &__Actions {
      display: grid;
      grid-gap: 0.7rem;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
    }

    &__Actions_Button {
      text-decoration: none;
    }

    &__ImageContainer {
      height: 40vh;
      width: 90%;
      padding: 1rem;
      &_Image {
        height: 100%;
        width: 100%;
      }
    }
  }
}
