<%- include("../includes/Start.ejs")%>

<body>
  <%- include("../includes/Navbar.ejs") %>
  <main class="MainContainer">
    <h1 class="Primary-Heading Margin-Top__ExtraLarge Centered">My Cart...</h1>
    <% if(products.length > 0) { %>
    <div class="ProductCardContainer">
      <div class="ProductCard Margin-Top__Large">
        <% for(let product of products) { %>
        <article class="ProductCard-Item">
          <header class="ProductCard-Item__Header">
            <h1 class="Secondary-Heading">
              <%= product.productId.title %>
            </h1>
          </header>

          <div class="ProductCard-Item__ImageContainer">
            <img src="<%= product.productId.imageUrl %>" alt="A Book" class="ProductCard-Item__ImageContainer_Image">
          </div>
          <div class="ProductCard-Item__Price">$<%= product.productId.price %></div>
          <h2 class="Secondary-Heading">
            Total Quantity &rArr; <%= product.quantity %>
          </h2>
          <form action="/cart-delete-item" method="post">
            <input type="hidden" name="productId" value="<%= product.productId._id %>">
            <button class="Button" type="submit">Delete</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          </form>
        </article>
        <% } %>
      </div>
    </div>
    <form action="/create-order" method="POST" class="Cart Margin-Top__Medium Centered">
      <button class="Button" type="submit">Order Now!</button>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>
    <% } else { %>
    <h1 class="Primary__Heading">No Products are available in cart!</h1>
    <% } %>
  </main>
</body>

</html>