<%- include("../includes/Start.ejs")%>
  <body>
    <%- include("../includes/Navbar.ejs") %>
    <main class="MainContainer">
      <h1 class="Primary-Heading Margin-Top__ExtraLarge Centered" >My Orders</h1>
        <% if(orders.length > 0) { %>
          <div class="Orders">
            <% for(let order of orders) { %>
              <div class="Orders-Order">
                <button class="Orders-Order__DeleteButton" title="Delete Your Order Information" onclick="deleteOrder(this)">
                  <svg class="Orders-Order__DeleteButton_CloseIcon">
                    <use href="assets/SVG/close-button.svg#icon-cancel"></use>
                  </svg>
                </button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="orderId" value="<%= order._id %>">
                <h1 class="Secondary-Heading">
                  Order No.  &rArr;   #<%= order._id %>
                </h1>     
                <h3 class="Tertiary-Heading Margin-Top__Large">
                  Please click Below invoice button to see invoice details!!!
                </h3>    
                <h3 class="Tertiary-Heading Centered ">
                  <a  class= "Button" href="/orders/<%= order._id%>">Your Invoice</a>
                </h3>
              </div>
            <% } %>
          </div>
        <% } else { %>
        <h1 class="Primary__Heading">No orders are Available!</h1>
        <% } %>
    </main>
    <script src="/js/Shop.js"></script>
  </body>
</html>