<%- include("../includes/Start.ejs")%>
  <body>
    <%- include("../includes/Navbar.ejs") %>
    <main class="MainContainer">
        <h1 class="Primary-Heading Margin-Top__ExtraLarge ProductDetails-Heading"><%= product.title %></h1><hr>
      <div class="ProductDetails"> 
        <div>
          <img src="<%= '../' + product.imageUrl %>" alt="<%= product.title %>" class="ProductDetails-Image">
        </div>
        <h2 class="Secondary-Heading">$<%= product.price %></h2>
        <p class="Paragraph"><%= product.description %></p>
          <% if(isAuthenticated) { %>
            <%- include("../includes/CartForm.ejs")%>
          <% } %>
      </div>
      <hr>
    </main>
  </body>
</html>