<%- include("../includes/Start.ejs")%>
  <body>
    <%- include("../includes/Navbar.ejs") %>
    <main class = "MainContainer">
      <h1 class ="Primary-Heading Margin-Top__ExtraLarge Centered">Products</h1>
      <% if(products.length > 0) { %>
        <div class="ProductCardContainer">
          <div class="ProductCard Margin-Top__Large">
            <% for(let product of products) { %>
              <article class="ProductCard-Item">
                <header class="ProductCard-Item__Header">
                  <h1 class="Secondary-Heading">
                    <%= product.title %>
                  </h1>
                </header>
                
                <div class="ProductCard-Item__ImageContainer">
                  <img src="<%= product.imageUrl %>" alt="A Book" class="ProductCard-Item__ImageContainer_Image">
                </div>
                <div class="ProductCard-Item__Price">$<%= product.price%></div>
                <div class="ProductCard-Item__Description">
                    <%= product.description %>
                </div>
                <div class="ProductCard-Item__Actions <% if(!isAuthenticated) { %> Actions <% } %>">
                  <a href="/products/<%= product._id %>" class="Button ProductCard-Item__Actions_Button">Details</a>
                  <% if(isAuthenticated) { %>
                    <%- include("../includes/CartForm.ejs",{product:product})%>
                  <% } %>
                </div>
              </article>
            <% } %>
          </div>
        </div>
        <%- include("../includes/Pagination.ejs",{isFirstPage:isFirstPage,isLastPage:isLastPage,page:page,hasPreviousPage:hasPreviousPage})%>
      <% } else { %>
        <h1 class="Primary__Heading">No Products are Added!</h1>
      <% } %>
    </main>
  </body>
</html>