.Button {
  font-size: $default-font;
  color: #fff;
  text-align: center;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 5rem;
  background-image: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  background-size: 600%;
  outline: none;
  border: none;
  cursor: pointer;
  animation: anime 8s linear infinite;
  &:hover {
    text-shadow: 1px 1px 2px #fff;
  }

  &:hover {
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
  }

  &:active {
    transform: scale(0.97);
  }
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.Primary-Heading {
  font-size: 4rem;
  background-image: linear-gradient(to bottom right, #800000, #dc143c, #660033);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  @media only screen and (max-width: 37.5em) {
    & {
      font-size: 2.5rem;
    }
  }
}
.Secondary-Heading {
  font-size: 2.5rem;

  @media only screen and (max-width: 37.5em) {
    & {
      font-size: 1.8rem;
    }
  }
}
.Tertiary-Heading {
  font-size: 1.8rem;
}
.Paragraph {
  font-size: 1.6rem;
  font-weight: 400;
}

.Margin-Top__ExtraLarge {
  margin-top: 6rem;
}
.Margin-Top__Large {
  margin-top: 4rem;
}
.Margin-Top__Medium {
  margin-top: 3rem;
}
.Margin-Top__Small {
  margin-top: 2rem;
}
.Centered {
  text-align: center;
}
.Input {
  padding: 1rem;
  border: none;
  outline: none;
  border-bottom: 0.3rem solid transparent;
  &:focus:invalid {
    border-bottom: 0.3rem solid #ff4500;
  }
  &:focus:valid {
    border-bottom: 0.3rem solid #0db10d;
  }
}
.InvalidInput {
  border-bottom: 0.3rem solid #ff4500;
}
